@use '../mixin/mixin' as *;
@use '../setting/setting' as *;
/*------------------------------------------------------------------------------
  reset PC
------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Sans+JP:wght@500;700;900&display=swap');

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  border: 0;
  margin: 0;
  // max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a {
  color: #000;
  text-decoration: none;
  transition: $transition01;
  @include pc {
    &:hover {
      opacity: .8;
    }
  }
}

input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

@include placeholder(#ccc);

button {
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

dl,dt,dd {
  padding: 0;
  margin: 0;
}

@include pc {
  .sp {
    display: none !important;
  }

  a[href^="tel:"] {
    pointer-events: none;
  }

  a,
  a::before,
  a::after,
  button {
    transition: $transition01;
  }
}



/*------------------------------------------------------------------------------
  reset SP
------------------------------------------------------------------------------*/
@include sp {
  input[type="submit"] {
    -webkit-text-size-adjust: 100%;
  }

  input,
  select,
  textarea {
    font-size: 16px !important;
  }

  .pc {
    display: none !important;
  }
}
