@use '../mixin/mixin' as *;
@use '../setting/setting' as *;

/* --------------------------------
c-footer
----------------------------------- */
.p-footer {
  background-image: url(../../img/common/footer-bg.png);
  width: 100vw;
  height: 100%;
  z-index: 1;
  position: relative;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px 80px;
  }
  &__title {
    font-size: 17px;
    color: #fff;
  }
  &__text {
    font-size: 14px;
  }
  &__link {
    color: #fff;
    font-size: 14px;
    font-weight: $medium;
    position: relative;
    &::before {
      content: "";
      display: inline-block;
      width: 13px;
      height: 13px;
      margin-right: 5px;
      background-image: url(../../img/common/arrow.png);
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
      margin-bottom: 2px;
    }
  }
  &__address {
    flex: 1 1 40%;
  }
  &__list {
    flex: 1 1 28%;
  }
  &__list--r {
    flex: 1 1 32%;
  }
  &__link-title {
    border-bottom: 2px solid #fff;
  }
  &__link {
    display: block;
    margin-bottom: 30px;
  }
  &__copy {
    text-align: center;
    padding-bottom: 26px;
  }
}
