@use "../mixin/mixin" as *;
@use "../setting/setting" as *;

/*----------------------------------
  loading
-----------------------------------*/

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}



/* --------------------------------
c-header
----------------------------------- */

.p-header {
  height: 100vh;
  position: relative;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  &__logo {
    padding-left: vw(50px);
  }
}
.p-nav {
  &.is-active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: $offWhite;
    padding-top: 20px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: vw(40px);
  }
  &__list--secondary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-right: 20px;
  }
  &__link {
    color: #fff;
  }
  &__item--pc {
    @media screen and (max-width: 1100px) {
      display: none;
    }
  }
  &__sns {
    &.is-active {
      position: fixed;
      right: 0px;
      top: 40px;
      z-index: 100;
    }
  }
  &__sp-list {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    font-size: 15px;
    font-weight: $medium;
    display: none;
    @media screen and (max-width: 1100px) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $gray;
      padding-top: 20px;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
}
//hambuger
.p-header__hamburger {
  display: none;
  @media screen and (max-width: 1100px) {
    display: block;
    position: relative;
    width: 28px;
    z-index: 100;
    height: 22px;
  }
  &.is-active {
    .top-line {
      transform: translateY(10px) rotate(45deg);
    }
    .mid-line {
      opacity: 0;
    }
    .bottom-line {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
  &--line {
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all 0.3s ease-in-out;
    display: inline-block;
  }
}
.top-line {
  top: 0;
}
.mid-line {
  top: 50%;
  transform: translateY(-50%);
}
.bottom-line {
  bottom: 0;
}

//scroll
.p-scroll {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: $bold;
  @include sp {
    display: none;
  }
  &__icon {
    height: 150px;
    width: 1px;
    background: #fff;
    z-index: 100;
    position: absolute;
    left: 50%;
    transform: translate-x(-50%);
  }
}
